---
const { src, alt, title} = Astro.props
---

<div class="relative flex flex-col items-center justify-center gap-4">
    <img src={src} alt={alt} class="size-[80px] grayscale hover:grayscale-0 transition">
    <span class="text-white">{title}</span>
</div>