---

---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="rounded-full backdrop-blur bg-slate-800/60 ring-1 ring-white/10 shadow-lg w-[375px] px-3 py-2 flex justify-around *:text-[14px] *:text-gray-200 *:font-bold">
        <a href="#proyectos" class="text-slate-800 hover:text-gray-400">Proyectos</a>
        <a href="#sobre-mí" class="text-slate-800 hover:text-gray-400">Sobre mí</a>
        <a href="#contacto" class="text-slate-800 hover:text-gray-400">Contacto</a>
    </nav>
</header>   