---
---

<div class="max-w-2xl">
    <div>
        <h1 class="text-yellow-300 text-4xl sm:text-5xl font-bold">Hola! Soy Tobias Molinero</h1>
        <p class="text-white text-xl mt-6">Tengo 1 año de experiencia como Desarrollador Fronted. Soy estudiante de programación en la Universidad Tecnologica Nacional en Tucuman, Argentina. Especializado en el desarrollo de sitios y aplicaciones web únicas.<p>
    </div>
    <!-- <div class="bg-green-400">
        <div class="bg-blue-300 flex justify-center relative">
            <img src="/public/tobias.png" class="h-[250px] " alt="tobias molinero">
        </div>
    </div> -->
</div>