---

---


<div class="">
    <div>
        <h1 class="text-yellow-300 text-4xl sm:text-5xl font-bold">Hola! Soy Tobias Molinero</h1>
        <p class="text-white">Tengo 1 año de experiencia como Desarrollador Fronted. Soy estudiante de programación en la Universidad Tecnologica Nacional en Tucuman, Argentina. Especializado en el desarrollo de sitios y aplicaciones web únicas.<p>
    </div>
</div>